{% extends 'base.html.twig' %}

{% block title %}Pictures{% endblock %}

{% block body %}


    <form method="post">
        <h2 class="text-base font-semibold leading-7 text-center items-center text-gray-900">Ajouter photo</h2>
	    <div class="border-b border-gray-900/10 pb-12  text-center">
			<div class="mt-10 grid grid-cols-1  gap-x-6 gap-y-8 sm:grid-cols-6">
				{{ form(form) }}
			</div>
		</div>
	</form>


{% endblock %}

