    <footer class="bg-gray-100">
      <div class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-24 lg:px-8">
        <p class="mt-10 text-center text-xs leading-5">
          &copy; 2023 LAMUSEE, Inc. All rights reserved.
        </p>
      </div>
    </footer>